/* Yunite Splash Page */

/* Start: General Styles */
body, h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: "rooney-sans", sans-serif !important;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

a.anchor {
    display: block; 
    position: relative; 
    visibility: hidden;
    top: -115px;
}

.action-row {
    margin-top: 2rem !important;
}

.text.white {
    color: #FFFFFF !important;
}
.text.uppercase {
    text-transform: uppercase;
}
.text.bold {
    font-weight: 600;
}
.block.center {
    display: block;
    margin: 0 auto;
}

.panel {
    background-color: #FFFFFF;
    border-radius: 4px;
}
.panel.highlight {
    background-color: #EFEFEF;
    border: 1px solid #DFDFDF;
}

.button.border-radius {
    border-radius: 2px;
}
.button.border-radius-big {
    border-radius: 4px;
}

.signup {
    background: #DFAB50;
    background: -webkit-linear-gradient(#DFAB50, #DAA13B);
    background: -o-linear-gradient(#DFAB50, #DAA13B);
    background: linear-gradient(#DFAB50, #DAA13B);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{DFAB50}', endColorstr='#{DAA13B}');
    border-bottom: 2px solid #C08E23;
}
.signup:hover,
.signup:focus {
    background: #CE862C;
    background: -webkit-linear-gradient(#CE862C, #CE862C);
    background: -o-linear-gradient(#CE862C, #CE862C);
    background: linear-gradient(#CE862C, #CE862C);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{CE862C}', endColorstr='#{CE862C}');
    border-bottom: 2px solid #CE862C;  
}

.login {
    color: #FFFFFF !important;
    background: #6bb8eb;
    background: -webkit-linear-gradient(#6bb8eb, #799FFF);
    background: -o-linear-gradient(#6bb8eb, #799FFF);
    background: linear-gradient(#6bb8eb, #799FFF);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{6bb8eb}', endColorstr='#{799FFF}');
    border-bottom: 2px solid #5382C9;
}
.login:hover,
.login:focus {
    background: #5382C9;
    background: -webkit-linear-gradient(#5382C9, #5382C9);
    background: -o-linear-gradient(#5382C9, #5382C9);
    background: linear-gradient(#5382C9, #5382C9);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{5382C9}', endColorstr='#{5382C9}');
    border-bottom: 2px solid #5382C9;  
}

.button.success-alt {
    background: #9BD367;
    background: -webkit-linear-gradient(#9BD367, #88C84B);
    background: -o-linear-gradient(#9BD367, #88C84B);
    background: linear-gradient(#9BD367, #88C84B);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{9BD367}', endColorstr='#{88C84B}');
    border-bottom: 2px solid #72AC3B;
}
.button.success-alt:hover,
.button.success-alt:focus {
    background: #7BB446;
    background: -webkit-linear-gradient(#7BB446, #7BB446);
    background: -o-linear-gradient(#7BB446, #7BB446);
    background: linear-gradient(#7BB446, #7BB446);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{7BB446}', endColorstr='#{7BB446}');
    border-bottom: 2px solid #7BB446;   
}

.has-tip,
.has-tip:hover,
.has-tip:focus {
    border: none;
    cursor: auto;
}
/*   End: General Styles */



/* Start: Header Bar */
.header-bar {
    display: block;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    font-size: 12px;
    height: 90px;
    line-height: 1.2;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1001;
}
.header-bar img {
    display: block;
    margin: 0.75rem auto;
    max-height: 60px;
    width: auto;
}
.header-bar .upper-row,
.header-bar .lower-row {
    margin: 0.8rem 0;
}
.header-bar .alignment,
.header-bar .alignment {
    float: right !important;
}
.header-bar .link-row a {
    border-radius: 2px; 
    color: #43A9CA;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.header-bar .link-row a:hover,
.header-bar .link-row a:focus {
    background-color: orange;
    color: #FFFFFF;
}
.header-bar .link-row a.active {
    background-color: #43A9CA;
    color: #FFFFFF;
}
.header-bar .link-row a.no-hover:hover,
.header-bar .link-row a.no-hover:focus {
    background-color: #FFFFFF;
    color: #008CBA;
    text-decoration: underline;
}
.header-bar .or {
    border: 2px solid #EFEFEF;
    color: #DFDFDF;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 1rem;
    padding: 0.3rem 0.25rem;
    border-radius: 50%;
}
.header-bar a.signup {
    color: #FFFFFF;
    padding-bottom: 0.25rem;
}
/*   End: Header Bar */



/* Start: Footer Menu */
.sub-nav {
    background-color: #FFFFFF;
    border-top: 1px solid #DFDFDF;
    padding: 0.75rem 0;
    margin: 0;
    width: 100%;
}
.sub-nav .separator {
    display: inline-block;
    margin: 0 0.75rem;
}
.sub-nav .other-links,
.sub-nav .right {
    margin-top: 0.25rem; 
}
.sub-nav .other-links a {
    color: #A7A7A7;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sub-nav .other-links a:hover,
.sub-nav .other-links a:focus {
    color: #053040;
    text-decoration: underline;
}
.sub-nav .social {
    color: #FFFFFF;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
}
.sub-nav .social.facebook {
    background-color: #3B5998;
    margin-right: 0.5rem;
}.sub-nav .social.twitter {
    background-color: #00ACED;
}
.sub-nav .social:hover,
.sub-nav .social:focus {
    color: #FFFFFF;
    background-color: #9BD367;
}
.sub-nav .fa-smile-o {
    color: #E4E4E4;
    margin-right: 0.5rem;
}
.sub-nav dt, .sub-nav dd, .sub-nav li {
    margin: 0;
}
/*   End: Footer Menu */



/* Start: Home Page Styling */

    /* General Section Styles */
    .section-header {
        margin-bottom: 0 !important;
        padding-bottom: 0.25rem !important;
    }
    .section-note {
        color: #9c9c9c;
        font-size: 0.8rem !important;
        margin-bottom: 0 !important;
        padding-bottom: 2rem !important;
        text-align: center;
    }


    /* Start: Hero Section */
    .hero-area {
        width: 100%;
        z-index: -999;
        margin: 0;
        padding: 12rem 0 7rem;
        background-image: linear-gradient(rgba(67, 169, 202, 0.5), rgba(108, 95, 255, 0.5)), url("../img/yunite-hero.jpg");
        background-attachment: fixed;
        background-position: center 80%;
        background-size: cover;
    }
    /*   End: Hero Section */


    /* Start: About Section */
    .about {
        background-color: #FFFFFF;
        padding: 3rem 0 3rem;
        text-align: center;
        z-index: -1;
    }
    .about p {
      font-size: 1.6rem;
      text-align: center;
      color: #47566E;
      letter-spacing: 0.01em;
    }
    /*   End: About Section */


    /* Start: Features Section */
    .features {
        text-align: center;
        max-width: 100%;
        padding: 3rem 0;
        background-color: #43A9CA;
    }
    .features h1 {
      text-align: center;
      color: #FFFFFF;
      padding: 1rem 0;
    }
    .features h2 {
      font-size: 1.4rem;
      padding-top: 1rem;
      padding-bottom: 0px;
      text-align: center;
    }
    .features p,
    .features h2,
    .features .fa {
        color: #053040;
    }
    .features .fa {
        min-width: 105px;
        width: 105px;
        padding: 1.5rem;
        border-radius: 50%;
        border: 3px solid #82C1D8;
    }
    .features .fa-check-square-o {
        padding-right: 1.25rem;
        padding-top: 1.625rem;
    }
    /*   End: Features Section */


    /* Start: Partners Section */
    .partners {
      background: #FFFFFF;
      max-width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .partners h1 {
        padding: 1rem 0;
        text-align: center;
    }
    .partners img {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
    }
    /*   End: Partners Section */

/*   End: Home Page Styling */



/* Start: Single Pages General Styling */
.single-page {
    background-color: #43A9CA;
}
.single-page .page-area {
    display: block;
    padding-top: 90px;
}
.single-page .page-title {
    color: #FFFFFF;
    padding: 2rem 0 2.5rem;
    text-align: center;
}
/*   End: Single Pages General Styling */



/* Start: About Page */
.about-page img {
    display: block;
    margin: 1rem auto 1rem;
    width: 100%;
    max-width: 1000px;
    max-height: auto;
}
.about-close {
   max-height: 1000px;
   max-width: 100%;
}
/*  End: About Page */



/* Start: Media Queries */
@media only screen and (max-width: 40em) {
    .header-bar {
        height: 200px;
    }
    .single-page .page-area {
        padding-top: 200px;
    }
    .hero-area {
        padding-top: 18rem;
    }
    .header-bar .alignment {
        float: none !important;
        text-align: center;
    }
    .sub-nav dt a, .sub-nav dd a, .sub-nav li a {
        padding: 0.1875rem 0.5rem;
    }
    .left.other-links {
        display: block;
        float: none !important;
        height: 35px;
        margin: 0 auto;
        max-width: 326px;
        width: 100%;
        padding: 0 0 1rem;
        text-align: center;
    }
}

/*   End: Media Queries */